<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
           url('<%= cl_image_path (@cocktail.photo? ? @cocktail.photo.path : 'pexels-photo-109275_3_vdtoud')%>')">
  <h1 class ="text-center"><%= @cocktail.name %></h1>
</div>

<div class="container">

  <div class="row">
    <!-- Cocktail info -->
    <div class="col-xs-12 col-sm-7">
      <h3>Description</h3>
      <p><%= @cocktail.description %></p>
    </div>

    <!-- Ingredients -->
    <div class="col-xs-12 col-md-5">
      <h3>Ingredients</h3>
      <ul class="list-unstyled">
        <% @cocktail.doses.each do |dose| %>
          <li>
            <strong><%= dose.ingredient.name %></strong>
            - <%= dose.description %>
            (<%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete %>)
          </li>
        <% end %>
      </ul>
      <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
    </div>
  </div>


</div>

